/*
*
*	Less Framework 5 (5.0) 	http://lessframework.com/
*	by Joni Korpi 			http://jonikorpi.com/
*	
*/


/*
*
*	Resets for margins, paddings, and borders
*	Except for form elements
*
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video, canvas {
	margin: 0;
	padding: 0;
	border: 0;
}


/*
*
*	Consistency fixes
*	Adopted from http://necolas.github.com/normalize.css/
*
*/

input, textarea, button, select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}

button,
html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
}

textarea {overflow: auto;}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, audio, canvas, video {display: block;}
html {height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body {min-height: 100%; font-size: 100%;}
img {border: 0; -ms-interpolation-mode: bicubic;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
pre {white-space: pre; white-space: pre-wrap; word-wrap: break-word;}
b, strong {font-weight: bold;}
abbr[title] {border-bottom: 1px dotted;}
figure {position: relative;}
figure img, figure object, figure embed, figure video {max-width: 100%; display: block;}


/*
*
*	Typography
*
*/

body, input, textarea, button, select, textarea {
	font-family: sans-serif;
}

pre, code {
	font-family: monospace;
}


/*
*
*	Narrow Layout
*	primarily single-column
*
*/

	/*
	*	Narrow Layout
	*	Spot-fixes for 320 px
	*/
	
	/*
	*	Narrow Layout
	*	Spot-fixes for 480 px
	*/
	
	/*
	*	Narrow Layout
	*	Fixes for IE6–8
	*/


/*
*
*	Portrait Layout
*	optimal width for text content
*
*/

	/*
	*	Portrait Layout
	*	Zoomed to 1.0625
	*/
	
	/*
	*	Portrait Layout
	*	Zoomed to 1.125
	*/


/*
*
*	Landscape Layout
*	empty columns around text content
*
*/

	/*
	*	Landscape Layout
	*	Zoomed to 1.0625
	*/

	/*
	*	Landscape Layout
	*	Zoomed to 1.125
	*/
	
	